
POSTGRES_URL="postgres://04e64eb28f7284e897c836ac7d15ad8e364a84dac2530379aff2a848a13f4cc8:sk_MOMt51Cl71Q9zqYRO0SZ3@db.prisma.io:5432/postgres?sslmode=require"
PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19NT010NTFDbDcxUTl6cVlSTzBTWjMiLCJhcGlfa2V5IjoiMDFLNVpOU0ZRVlk3Ujg5UThFSkJXNkhERU4iLCJ0ZW5hbnRfaWQiOiIwNGU2NGViMjhmNzI4NGU4OTdjODM2YWM3ZDE1YWQ4ZTM2NGE4NGRhYzI1MzAzNzlhZmYyYTg0OGExM2Y0Y2M4IiwiaW50ZXJuYWxfc2VjcmV0IjoiMTgwMzE2ZDMtNzFkNi00ZDYzLTg0ZTAtOTlhNzcwZmJlMDlhIn0.9nJbr9FMRthPNJlAPnTT4p4wDeNkWBElotM5TpKd01g"
DATABASE_URL="postgres://04e64eb28f7284e897c836ac7d15ad8e364a84dac2530379aff2a848a13f4cc8:sk_MOMt51Cl71Q9zqYRO0SZ3@db.prisma.io:5432/postgres?sslmode=require"